<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img
          src="https://media.istockphoto.com/photos/modern-keyboard-with-blue-online-registration-button-picture-id1268691831?b=1&k=20&m=1268691831&s=170667a&w=0&h=IIBnyOXxCfPeft3R_RDna89ced94KSPoCQ5NDb__4zc="
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <form
            action="/register"
            method="POST"
            class="validated-form"
            novalidate
          >
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                required
                autofocus
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input
                class="form-control"
                type="email"
                id="email"
                name="email"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="confirm">Confirm Password</label>
              <input
                class="form-control"
                type="password"
                id="confirm"
                name="confirm"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-success btn-block">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
